.body-container {
  /*min-height: calc(100vh - 106px);*/
  min-height: 100vh;
}
body {
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

.table_custom {
  --bs-table-bg: transparent !important;
}
